body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(174, 177, 179);
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 39, 39);
    border-radius: 30px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(62, 59, 59);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: rgb(79, 77, 77);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(192, 186, 186);
}

button:active {
    background-color: rgb(224, 215, 215);
}

.operator-btn {
    background-color: lightblue;
}

.operator-btn:hover {
    background-color: rgb(206, 224, 229);
}

.operator-btn:active {
    background-color: rgb(226, 234, 236);
}